.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(211, 211, 211, 0.3);
}
.main .grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: minmax(50px, auto);
  width: 90%;
}
.main .grid div {
  background-color: #fff;
}
.main .grid .header {
  grid-column: 1/19;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  background-color: transparent;
  gap: 1px;
}
.main .grid .header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  padding: 0 1rem;
}
.main .grid .header .logo .img-container img {
  width: 100px;
  height: auto;
}
.main .grid .header .logo .toogle {
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.3rem;
  cursor: pointer;
}
.main .grid .header .prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.main .grid .header .action {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  flex-direction: row;
}
.main .grid .sidebar {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-direction: column;
}
.main .grid .footer {
  grid-column: 1/19;
  overflow-x: auto;
}
.main .grid .footer::-webkit-scrollbar {
  display: none;
}
.main .grid .content {
  grid-column: 2/19;
  height: 80vh;
  padding: 0.3rem;
  background-color: transparent;
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 0.3rem;
  flex-direction: row;
}
.main .grid .content .menus {
  flex: 2;
  background: transparent;
}
.main .grid .content .tables {
  flex: 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-rows: repeat(14, 1fr);
  background-color: transparent;
  gap: 0.3rem;
}
.main .grid .content .tables .options {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
}
.main .grid .content .tables .options::-webkit-scrollbar {
  display: none;
}
.main .grid .content .tables .options .options-1 {
  overflow-x: auto;
  display: grid;
  padding: 0 1rem;
}
.main .grid .content .tables .options .options-1::-webkit-scrollbar {
  display: none;
}
.main .grid .content .tables .options .options-2 {
  overflow-x: auto;
  display: grid;
  padding: 0 1rem;
}
.main .grid .content .tables .options .options-2::-webkit-scrollbar {
  display: none;
}
.main .grid .content .tables .table-1 {
  grid-row: 3/9;
  overflow-x: auto;
  overflow-y: auto;
}
.main .grid .content .tables .table-2 {
  grid-row: 3/9;
  overflow-x: auto;
  overflow-y: auto;
}
.main .grid .content .tables .table-3 {
  grid-row: 9/15;
  grid-column: 1/3;
  overflow-x: auto;
  overflow-y: auto;
}

@media (max-width: 899px) {
  .main .grid .header .logo {
    grid-column: 1/4;
  }
  .main .grid .header .action {
    display: none;
  }
  .main .grid .header .prices {
    display: none;
  }
  .main .grid .sidebar {
    display: none;
  }
  .main .grid .content {
    grid-column: 1/19;
  }
}
@media (max-width: 500px) {
  .main .grid .content {
    grid-column: 1/19;
  }
  .main .grid .content .menus {
    display: none;
  }
}/*# sourceMappingURL=home.module.css.map */